html {
    scroll-behavior: smooth;
}


/* Colors */

body {
    background-color: #f9fafb;
    opacity: 1;
    background-image: radial-gradient(#d2d5d8 2px, transparent 2px), radial-gradient(#d2d5d8 2px, #f9fafb 2px);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
}

.coming_soon {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #222F3E;
}

#download_button {
    background-color: #222F3E;
    width: fit-content;
    padding: 0.813em 1.375em;
    border-radius: 0.892vw;
    text-decoration: none;
    color: #FFFF;
    font-weight: 700;
    box-shadow: 0px 5px #d62196;
    transition: box-shadow .5s ease;
    margin-bottom: 1em !important;
}

#download_button:hover {
    box-shadow: 0 0 0px 2px #d62196;
}

#release_notes {
    font-size: 0.833vw !important;
    padding-left: 1em;
    padding-right: 0em !important;
}

#download_section {
    padding-top: 2.8em;
}

#features label .right img,
#features label .left img {
    width: inherit;
    border: none;
}

#faq div.top {
    background: transparent;
    text-align: right;
    position: relative;
    margin: 0 auto;
    padding: 0 5em 0 0;
    top: 12.4em;
    width: -webkit-fill-available;
}

#faq div.top a {
    text-decoration: none;
    color: #ffff;
}

#faq div.top a img {
    margin-bottom: -0.313em;
    margin-right: -0.25em;
}

header,
nav,
#menu,
footer,
section:nth-of-type(odd),
#compare li,
#features figcaption,
#features .left,
#features .right,
#mac a figure {
    background-color: #222F3E;
}

#compare h2,
#features h2,
#faq div,
#faq label {
    color: #222F3E;
}

a {
    color: #FB9300;
    text-decoration: underline;
}

.dash {
    color: #d62196;
}

#faq div {
    color: #222F3E;
}

#features img {
    border: solid 0.625em #222F3E;
}

nav a,
footer,
label[for="toggle"],
#toggle,
#intro,
#system,
#compare ul,
#faq h2,
#features figcaption,
#features label,
#windows,
#linux,
#plugins {
    color: #ffffff;
}

#compare h3 {
    color: #222F3E;
}

#faq label,
#faq div,
#download figure,
#plugins a:link {
    background: white;
}

#download_section {background: transparent;}

#intro,
#windows {
    background: url(img/backgrounds/header_bg.png);
}

#system,
#linux {
    background: url(img/backgrounds/system_bg.png);
}

#faq,
#plugins {
    background: url(img/backgrounds/footer_bg.png);
}

#system,
#intro,
#faq,
#windows,
#linux,
#plugins {
    background-size: cover;
    background-repeat: no-repeat;
}

nav label {
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

#download a:hover img,
#download a:focus img {
    filter: hue-rotate(287deg) brightness(.8);
}

#download figure:hover {
    opacity: .9;
}

#plugins a,
#nightly a {
    box-shadow: 0px 3px 2px #d62196;
    background-color: #222F3E;
}

#plugins a:hover,
#plugins a:focus #nightly a:hover,
#nightly a:focus {
    opacity: .9;
}


/* Fonts */

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

#intro h1 {
    font-size: 5.952vw;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 4.166vw;
    font-weight: 900;
}

#features figcaption {
    font-weight: 300;
    font-size: 2.678vw;
}

nav li li a {
    font-weight: 300;
}

#intro p {
    font-size: 2.380vw;
    font-weight: 300;
    padding-right: 2.932em;
}

.nomarker {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.marker {
    list-style-type: circle;
    list-style-position: inside;
}

a:hover,
a:focus {
    text-decoration: none;
}

.bold,
#compare .bold {
    font-weight: 600;
}

#compare li {
    border-radius: 0.313em;
    font-weight: 300;
}

#features .left,
#features .right {
    font-size: 6vw;
}

#download figure {
    margin: 0;
}

#download figcaption {
    text-align: center;
}


/* Flexible Layout */

body,
header,
nav ul,
.flex,
#intro div,
#system,
#compare,
#features,
#faq,
#features figure,
#linux,
#mac,
#windows,
#download aside,
#plugins,
#nightly,
#mac div,
#download_section {
    display: flex;
}

body,
#menu,
#intro div,
#system,
#faq,
#features,
#download aside,
#nightly {
    flex-flow: column;
}

main {
    flex-grow: 1;
}

header,
#system,
#compare,
#features,
#faq,
#features figure,
#features .left,
#features .right,
#mac,
#linux,
#windows,
#download aside,
#plugins,
#nightly,
#mac div,
#download_section {
    align-items: center;
}

nav ul,
#system,
#compare,
#features,
#faq,
#features figure,
#features .left,
#features .right,
#mac,
#linux,
#windows,
#download aside,
#plugins,
#mac div,
#download_section {
    justify-content: space-around;
}

#intro div,
#linux,
#nightly {
    justify-content: center;
}

#intro div {
    align-items: flex-start;
}

#compare,
#features figure,
#mac,
#linux,
#windows,
#plugins,
#mac div,
#download_section {
    flex-wrap: wrap;
}

#faq label {
    font-weight: 600;
}


/* Dropdown menu */

nav ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

nav ul ul {
    padding-inline-start: 0;
    /* It is often better to use em as a unit rather than pixels as it is a more responsive unit */
    border-radius: 1em;
    box-shadow: 0px 5px 4px #d62196;
    background-color: #222F3E;
}

nav+ul+li {
    position: relative;
}

nav li ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li:hover ul,
nav li:focus ul {
    display: block;
}

nav a {
    text-decoration: none;
    font-weight: 700;
}

.emphasize {
    font-style: italic;
}

#plugins a {
    text-align: center;
}

.menu_hover a:hover::after {
    width: 100%;
    height: 0.027em;
    border-radius: 5em;
    transition: width .5s ease;
}

.menu_hover a::after {
    background-color: #fff;
    display: block;
    width: 0;
    content: '';
}


/* Size/Spacing */

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: auto;
    position: relative;
}

nav {
    width: 100%;
    position: fixed;
}

nav a {
    display: block;
    width: 100%;
    padding: .5em;
}

header {
    position: relative;
    z-index: 2;
}

footer {
    position: relative;
    text-align: center;
    font-weight: 700;
    /* Again, em is more responsive. */
    padding: 1em;
}

#intro * {
    margin: 0;
}

#faq {
    padding-bottom: 13em;
}

#faq p {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#intro {
    padding: 5vw;
    padding-left: 0;
}

#intro div {
    padding: 0 2vw 0 14vw;
    width: 56vw;
}

#intro img {
    position: relative;
    left: 12vw;
    width: 30%;
    height: 30%;
    z-index: 1;
}

section {
    padding-bottom: 3.452vw;
}

#compare h2,
#features h2,
#download h2 {
    width: 100%;
    text-align: center;
}

#compare figure,
#compare ul {
    width: 80%;
}

#compare img {
    width: 100%;
    border-radius: 0.938em;
    border: solid 0.625em #222F3E;
}

#compare ul {
    margin: 0;
    padding: 0;
}

#compare li {
    margin: .5em;
    padding: .2em .5em;
    width: fit-content;
}

#faq ol {
    margin-left: .5em;
}

#features img,
#features #types figcaption {
    width: 48%;
}

#features img {
    border-radius: 0.938em;
}

#features .left,
#features .right {
    width: 3.571vw;
    height: 5.952vw;
}

#features figure {
    width: 91.5vw;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#features .left {
    border-radius: 0 .8vw .8vw 0;
}

#features .right {
    border-radius: .8vw 0 0 .8vw;
}

#brushes img:first-of-type {
    width: 60%;
}

#brushes img:last-of-type {
    width: 37%;
}

#palette img:last-of-type,
#fx img:first-of-type {
    width: 59%;
}

#palette img:first-of-type,
#fx img:last-of-type {
    width: 38%;
}

#lipsync img:first-of-type {
    width: 56%;
}

#lipsync img:last-of-type {
    width: 40%;
}

#features figcaption {
    width: 75.25%;
    text-align: center;
    margin-top: 0.3em;
    border-radius: 0.3em;
    padding: 0.1em;
}

#compare h3 {
    width: 100%;
    text-align: center;
}

#download figure {
    width: 100%;
    max-width: 450px;
}

#download img,
#download figcaption {
    width: 100%;
}

#download figure {
    position: relative;
    border-radius: 1em;
}

#download a {
    width: 50%;
}

#plugins a {
    width: 30vw;
    padding: 1em;
    border-radius: .5em;
    display: block;
    margin-bottom: 2em;
}

#plugins p {
    width: 100%;
    text-align: center;
}

#nightly a {
    padding: 1em;
    text-align: center;
    border-radius: .5em;
}

#download p {
    margin: 1em 5vw;
}


/* Show/Hide Menu on Small Devices */

#toggle {
    display: none;
    opacity: 0;
}

label[for="toggle"],
#toggle {
    position: absolute;
    right: 10px;
    top: -.3em;
    z-index: 4;
    cursor: pointer;
    font-size: 3em;
    line-height: .6em;
}

#toggle:checked+label+#menu {
    z-index: 3;
    opacity: 1;
    height: auto;
    visibility: visible;
    transition: transform 500ms ease;
}

#toggle:not(:checked)+label+#menu {
    z-index: 3;
    opacity: 0;
    height: 0;
    visibility: hidden;
    transform: translateY(-180px);
    transition: transform 500ms ease;
}

#toggle:checked+label {
    transform: rotateZ(45deg);
    transition: transform 500ms ease;
}

#toggle:not(:checked)+label {
    transition: transform 500ms ease;
}

#menu {
    flex-flow: column;
    position: absolute;
    width: 100%;
    top: 28px;
    left: 0;
    border-radius: .5em;
    padding: 0;
}

#menu>li>a {
    padding: .5em 1em;
}

#menu>li:first-child>a {
    padding-top: 1em;
}

#menu>li:last-child>a {
    padding-bottom: 1em;
}

#menu li li a {
    padding: .2em 2em;
}

label[for="toggle"] {
    opacity: 1;
}

#menu ul {
    position: relative;
}

.nopointer {
    cursor: default;
    pointer-events: none;
}


/* Expand or Close FAQ */

#faq input {
    display: none;
}

#faq input:not(:checked)~div {
    display: none;
}

#faq input:checked~div {
    display: block;
    font-weight: 300;
    margin-bottom: 0.938em;
}

#faq input:not(:checked)+label .open,
#faq input:checked+label .close {
    display: block;
}

#faq input:not(:checked)+label .close,
#faq input:checked+label .open {
    display: none;
}

#faq .close,
#faq .open {
    position: absolute;
    right: 1.4em;
    top: .75em;
}

#faq label {
    display: block;
    width: 100%;
    margin-bottom: 0.938em;
    padding-right: 1.5em;
    cursor: pointer;
}

#faq article {
    width: 80%;
    padding-bottom: 0.938em;
}

#faq div,
#faq label {
    position: relative;
    width: 100%;
    padding: 1.063em 1.563em;
    border-radius: 0.938em;
    padding-right: 4.5em;
}


/* Featured Slideshow */

#features input,
#features label .right,
#features label .left {
    display: none;
    position: absolute;
}

#features label .right {
    right: 0em;
    top: 45%;
}

#features label .left {
    left: 0em;
    top: 45%;
}

#features {
    position: relative;
}

#brush:checked~#brushes,
#palettes:checked~#palette,
#sfx:checked~#fx,
#type:checked~#types,
#sync:checked~#lipsync {
    display: flex;
}

#brush:checked~label[for="sfx"] .left,
#brush:checked~label[for="palettes"] .right,
#palettes:checked~label[for="brush"] .left,
#palettes:checked~label[for="type"] .right,
#type:checked~label[for="palettes"] .left,
#type:checked~label[for="sync"] .right,
#sync:checked~label[for="type"] .left,
#sync:checked~label[for="sfx"] .right,
#sfx:checked~label[for="sync"] .left,
#sfx:checked~label[for="brush"] .right {
    display: flex;
    cursor: pointer;
}

#brush:not(:checked)~#brushes,
#palettes:not(:checked)~#palette,
#sfx:not(:checked)~#fx,
#type:not(:checked)~#types,
#sync:not(:checked)~#lipsync {
    display: none;
}


/* Style adjustments for larger screens */

@media (min-width:558px) {
    header {
        position: fixed;
        width: 100vw;
    }
    .home a {
        width: 7.5em;
    }
    label[for="toggle"] {
        opacity: 0;
    }
    #menu {
        flex-flow: row;
        border-radius: 0;
        box-shadow: none;
        top: 0;
        left: auto;
        position: relative;
        padding: 0 1em;
    }
    #menu ul {
        position: absolute;
        box-sizing: content-box;
    }
    #toggle:not(:checked)+label+#menu,
    #toggle:checked+label+#menu {
        transform: none;
        transition: none;
        opacity: 1;
        height: auto;
        visibility: visible;
    }
    nav {
        position: static;
    }
    nav li ul {
        padding: .85em .85em;
        width: min-content;
    }
    nav ul ul {
        box-shadow: 0px 5px 0px #d62196;
    }
    #menu>li:first-child>a,
    #menu>li:last-child>a,
    .home a {
        padding: .5em 1em;
    }
    #menu li li a {
        padding: .5em;
    }
    #compare ul,
    #compare figure {
        width: 40%;
    }
    #download a {
        width: 20%;
    }
    #download aside {
        width: 60%;
    }
    #mac div {
        flex-flow: row-reverse;
    }
}