/* Colors */


body {
    background-color: #f9fafb;
    opacity: 1;
    background-image: radial-gradient(#d2d5d8 2px, transparent 2px), radial-gradient(#d2d5d8 2px, #f9fafb 2px);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;}
 
header, 
#menu,
footer {
    background-color: #222F3E;
}

a {
    color: #FB9300;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

nav a,
footer,
.temp,
label[for="toggle"],
#toggle {
    /* This is exactly the same as "white". There's no real advantage to one format over the other. */
    color: #ffffff;
}


/* Fonts */

body {
    font-family: 'Rubik', sans-serif;
}


/* Flexible Layout */

body,
header,
nav ul,
.temp {
    display: flex;
}

body, #menu {
    flex-flow: column;
}

main {
    flex-grow: 1;
}

header,
.temp {
    align-items: center;
}

nav ul,
.temp {
    justify-content: space-around;
}


/* Dropdown menu */

nav ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

nav ul ul {
    padding-inline-start: 0;
    /* It is often better to use em as a unit rather than pixels as it is a more responsive unit */
    border-radius: 1em;
    box-shadow: 0px 5px 4px #d62196;
    background-color: #222F3E;
}

nav+ul+li {
    position: relative;
}

nav li ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li:hover ul,
nav li:focus ul {
    display: block;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav ul ul li {
    border-bottom: transparent solid thin;
}

nav ul ul li:hover,
nav ul ul li:focus {
    border-bottom: solid white thin;
}


/* Size/Spacing */

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: auto;
    position: relative;
}

nav {
    width: 100%;
}

nav a {
    display: block;
    width: 100%;
    padding: .5em;
}
header {position: relative;}

footer {
    position: relative;
    text-align: center;
    font-weight: bold;
    /* Again, em is more responsive. */
    padding: 1em;
}


/* Button for Menu on Small Devices */




    /* Show/Hide Menu on Small Devices */
#toggle {
    display: none;
    opacity: 0;
}

label[for="toggle"],
#toggle {
    position: absolute;
    right: 10px;
    top: .08em;
    z-index: 4;
    cursor: pointer;
    font-size: 3em;
    line-height: .6em;
    }

 #toggle:checked + label + #menu {
    z-index: 3;
    opacity: 1;
    height: auto;
    visibility: visible;
    transition: transform 500ms ease;
    }

#toggle:not(:checked) + label + #menu {
    z-index: 3;
    opacity: 0;
    height: 0;
    visibility: hidden;
    transform: translateY(-180px);
    transition: transform 500ms ease;
    }

#toggle:checked + label {
    transform: rotateZ(45deg);
    transition: transform 500ms ease;
    }

#toggle:not(:checked) + label {
    transition: transform 500ms ease;
    }
   
#menu {
    flex-flow: column;
    position: absolute;
    width: 100%;
    top: 37px;
    left: 0;
    border-radius: .5em;
    padding: 0;
    }

#menu > li > a {
    padding: .5em 1em;
}
#menu > li:first-child > a {
    padding-top: 1em;
}
#menu > li:last-child > a {
    padding-bottom: 1em;
}
#menu li li a {
    padding: .5em 2em;
}

label[for="toggle"] {
    opacity: 1;
    }

#menu ul {
    position: relative;
    }
    
.nopointer {
    cursor: default;
    }

/* Style adjustments for larger screens */

@media (min-width:558px) {
    header {
        position: fixed;
        width: 100vw;
    }
    .home a {
        width: 7.5em;
    }
    
    label[for="toggle"] {
        opacity: 0;
    }
    #menu {
        flex-flow: row;
        border-radius: 0;
        box-shadow: none;
        top: 0;
        left: auto;
        position: relative;
        padding: 0 1em;
    }
    #menu ul {
        position: absolute;
    }

    #toggle:not(:checked) + label + #menu,
    #toggle:checked + label + #menu {
        transform: none;
        transition: none;
        opacity: 1;
        height: auto;
        visibility: visible;
    }
    
    nav li ul {
    padding: .5em;
    width: auto;
    }
    
    nav ul ul { 
        box-shadow: 0px 5px 0px #d62196;
    }
    
    #menu > li:first-child > a,
    #menu > li:last-child > a, 
    .home a {
        padding: .5em 1em;
    }
    #menu li li a {
        padding: .5em;
    }

}